@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

@import "./floaterBibStyles";

/* stylelint-disable scss/selector-nest-combinators, selector-max-class */

:host {
  background: var(--ds-auro-drawer-overlay-modal-background-color);
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 0), display 0.3s;
  transition-behavior: allow-discrete;
}

.container {
  position: absolute;
  display: inline-flex;
  overflow: auto;
  flex-direction: column;
  background: var(--ds-auro-drawer-container-color);
  pointer-events: none;
  transition: transform 0.3s ease-in-out, display 0.3s, overlay 0.3s;
  transition-behavior: allow-discrete;
  will-change: transform;

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .content {
    overflow: auto;
    flex: 1 100%;;
  }
}

::slotted(*) {
  color: var(--ds-auro-drawer-text-color);
  pointer-events: initial;
}

:host([data-show]) {
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

:host([placement="right"]) .container {
  right: 0;
  height: 100%;
  overflow-x: hidden;
  transform: translate3d(100%, 0, 0);
}

:host([placement="left"]) .container {
  height: 100%;
  overflow-x: hidden;
  transform: translateX(-100%);
}

:host([placement="right"]), :host([placement="left"]){
  ::slotted(*) {
    min-height: 100%;
  }
}

:host([placement="top"]), :host([placement="bottom"]){
  ::slotted(*) {
    min-width: 100%;
  }
}

:host([placement="top"]) .container {
  width: 100%;
  transform: translateY(-100%);
  
}

:host([placement="bottom"]) .container {
  bottom: 0;
  width: 100%;
  transform: translate3d(0, 100%, 0);
}

:host([data-show]) .container {
  transform: translate3d(0,0,0);
}

@starting-style {
  :host([data-show][placement="right"]) .container {
    transform: translateX(100%);
  }

  :host([data-show][placement="left"]) .container {
    transform: translateX(-100%);
  }

  :host([data-show][placement="top"]) .container {
    transform: translateY(-100%);
  }

  :host([data-show][placement="bottom"]) .container {
    transform: translate3d(0, 100%, 0);
  }
}
