@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

:host {
  position: absolute;
  z-index: var(--depth-tooltip, $ds-depth-tooltip);
  display: none;
  overflow: auto;
}

:host([data-show]) {
  display: flex;
}
