@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

:host {
  --ds-auro-floater-backdrop-modal-background-color: var(--ds-color-background-scrimmed-default, #{$ds-color-background-scrimmed-default});
  --ds-auro-floater-container-background-color: var(--ds-color-container-primary-default, #{$ds-color-container-primary-default});
  --ds-auro-floater-container-text-color: var(--ds-color-text-primary-default, #{$ds-color-text-primary-default});
}
