:host([onbackdrop]) {
  .backdrop {
    background: var(--ds-auro-floater-backdrop-modal-background-color);
  }
}

::slotted(*) {
  background: var(--ds-auro-floater-container-background-color);
  color: var(--ds-auro-floater-container-text-color);
}
