@import "./../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables";
@import "./../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska";


/* stylelint-disable scss/selector-nest-combinators */

:host {
  position: absolute;
  z-index: var(--ds-depth-overlay, $ds-depth-overlay);
  display: none;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, display 0.3s;
  transition-behavior: allow-discrete;
  will-change: opacity;
}

.container {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.container ::slotted(:only-child){
  z-index: var(--ds-depth-modal, $ds-depth-modal);
  box-shadow: var(--ds-elevation-200, #{$ds-elevation-200});
}

:host([onbackdrop]) {
  overflow: hidden;

  .backdrop {
    position: absolute;
    inset: 0;
  }
}

:host([data-show]) {
  display: block;
  opacity: 1;
  
  @starting-style {
    opacity: 0;
  }
}

:host([data-show][modal]) {
  pointer-events: initial;
}

:host([isfullscreen]) {
  width: 100%;
  height: 100%;

  .container {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
}
