@import "./../node_modules/@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";


/* stylelint-disable scss/selector-nest-combinators */

:host {
  position: absolute;
  display: none;
  overflow: hidden;
  background: var(--ds-auro-drawer-overlay-modal-background-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 0), display 0.3s;
  transition-behavior: allow-discrete;
}

#wrapper {
  position: absolute;
  display: inline-block;
  overflow: auto;
  background: var(--ds-auro-drawer-container-color);
  pointer-events: none;
  transition: transform 0.3s ease-in-out, display 0.3s, overlay 0.3s;
  transition-behavior: allow-discrete;
  will-change: transform;
}

::slotted(*) {
  color: var(--ds-auro-drawer-text-color);
  pointer-events: initial;
}

:host([data-show]) {
  z-index: var(--ds-depth-modal, $ds-depth-modal);
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

:host([placement="right"]) #wrapper {
  right: 0;
  height: 100%;
  overflow-x: hidden;
  transform: translate3d(100%, 0, 0);
}

:host([placement="left"]) #wrapper {
  height: 100%;
  overflow-x: hidden;
  transform: translateX(-100%);
}

:host([placement="top"]) #wrapper {
  width: 100%;
  transform: translateY(-100%);
}

:host([placement="bottom"]) #wrapper {
  bottom: 0;
  width: 100%;
  transform: translate3d(0, 100%, 0);
}

:host([data-show]) #wrapper{
  transform: translate3d(0,0,0);
}

@starting-style {
  :host([data-show][placement="right"]) #wrapper {
    transform: translateX(100%);
  }

  :host([data-show][placement="left"]) #wrapper {
    transform: translateX(-100%);
  }

  :host([data-show][placement="top"]) #wrapper {
    transform: translateY(-100%);
  }

  :host([data-show][placement="bottom"]) #wrapper {
    transform: translate3d(0, 100%, 0);
  }
}
